@import "../../global.scss";

.intro {
    background-color: var(--alabaster);
    background-image: url('https://res.cloudinary.com/dxyv6bnjd/image/upload/v1633118812/bootcamp/background_mufor6.jpg');
    background-position: left top;
    display: flex;
    width: 100%;
    margin: 0;


    @include mobile{
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-image: none;
        
    }

        .wrapper{
            
            overflow: hidden;
            color: var(--coolGray);
            font-weight: 300;
            margin: 4% auto 0;
            display: flex;
            flex-direction: column;
            width: 50%;
            position: relative;
            padding: 0;
            text-align: center;
            font-weight: 400;

            @include mobile {
                width: 80%;
                margin: 8% auto;
            }
           

            .imgContainer {
                max-width: 300px;
                max-height: 300px;
                border-radius: 50%;
                display: flex;
                margin: 0px auto 40px;

                @include mobile {
                    max-width: 200px;
                    max-width: 200px;
                }

                    img {
                        height: 100%;
                    }
            }

            h1 {
                color: var(--gold);
                font-size: 60px;
                font-weight: 700;
                margin-bottom: 20px;

                @include mobile {
                    font-size: 40px;
                    margin-bottom: 0;
                    height: 13%;
                }
            }

            h3 {
                font-size: 35px;
                margin-bottom: 10px;
                font-weight: 200;

                @include mobile {
                    height: 7%;
                    font-size: 25px;
                }

            }
            p{
                font-size: 18px;
                line-height: 150%;

                @include mobile {
                    font-size: 15px;
                    margin-top: 30px;
                }
            }

        }
        .arrow{
            position: absolute;
            bottom: 60px;
            left: 49%;

            @include mobile{
                display: none;
            }

                .arrowDown {
                    font-size: 80px;
                    color: var(--coolGray);
                    animation: arrowBlink 2s infinite;
                }

                @keyframes arrowBlink {
                    100% {
                        opacity: 0;
                    }
                }
        }
    }

        