.intro {
    background-color: var(--alabaster);
    background-image: url('https://res.cloudinary.com/dxyv6bnjd/image/upload/v1633118812/bootcamp/background_mufor6.jpg');
    display: flex;

        .wrapper{
            
            overflow: hidden;
            color: var(--coolGray);
            font-weight: 300;
            margin: 8% auto 0;
            display: flex;
            flex-direction: column;
            width: 40%;
            position: relative;
            padding: 0;
            text-align: center;
            font-weight: 400;
           

            .imgContainer {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                display: flex;
                margin: 0px auto 40px;

                    img {
                        height: 100%;
                    }
            }

            h1 {
                color: var(--gold);
                font-size: 60px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            h3 {
                font-size: 35px;
                margin-bottom: 10px;
                font-weight: 200;

            }
            p{
                font-size: 18px;
                line-height: 150%;
            }

        }
        .arrow{
            position: absolute;
            bottom: 50px;
            left: 49%;

                .arrowDown {
                    font-size: 80px;
                    color: var(--coolGray);
                    animation: arrowBlink 2s infinite;
                }

                @keyframes arrowBlink {
                    100% {
                        opacity: 0;
                    }
                }
        }
    }

        