@import "./global.scss";

.app {
    height: 100vh;

    @include mobile{
        width: 100%;
    }

    .footer {
        height: 30px;
        position: absolute;
        bottom: 0px;

        @include mobile{
            position: fixed;
        }
    }
}
.sections {
    width: 100%;
    height: calc(100vh - 125px);
    position: relative;
    top: 125px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
        &::-webkit-scrollbar {
            //all other browsers
            display: none;
        }

        @include mobile{
            width: 100%;
        }
    // for each element inside .sections
        > * {
            width: 100vw;
            height: calc(100vh - 125px);
            scroll-snap-align: start;

            @include mobile{
                width: 100%;
            }
        }
}
