$mainColor: #53565a;

/* color palette */
:root {
    --plum: #4d004d;
    --eggplant: #330033;
    --medGray: #dddddd;
    --white: #ffffff;
    --alabaster: #f4f3f0;
    --gold: #CC9F53;
    --aqua: #bee3db;
    --dkAqua: #89b0ae;
    --coolGray: #555b6e;
    --whitefish: #faf9f9;
    --nude: #ffd6ba;
    }
